.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #272727;
  margin: 0 1em;
}

h1 {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .app {
    margin: 0 4em;
  }
}